footer {
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: center;
}

footer .container .footer-wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

footer .container .footer-wrapper .footer-left {
    margin-right: 200px;
}

footer .container .footer-wrapper .social-icons {
    width: 100%;
    height: 50px;
    display: flex;
}

footer .container .footer-wrapper .social-icons a {
    display: block;
    width: 50px;
    height: 50px;
    background: #040029;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    margin-bottom: 0px !important;
}

footer .container .footer-wrapper .social-icons a i {
    color: var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

footer .container .footer-wrapper .social-icons a:hover {
    background: var(--primary-color);
}

footer .container .footer-wrapper .social-icons a:hover i {
    color: #fff;
}

footer .container .footer-wrapper h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

footer .container .footer-wrapper a {
    display: block;
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: #6f75a3;
    margin-bottom: 15px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

footer .container .footer-wrapper a:last-child {
    margin-bottom: 0px;
}

footer .container .footer-wrapper a:hover {
    color: #eee;
}

footer p {
    font-size: 15px;
    font-weight: 500;
    color: #6f75a3;
    border-top: 1px solid #081049;
    padding: 20px 0px;
    text-align: center;
    margin-bottom: 0px;
}

footer p a {
    color: var(--primary-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

footer p a:hover {
    color: #fff;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
    .footer-wrapper {
        width: 100% !important;
    }

    .footer-left {
        margin-right: 60px !important;
    }
}

@media only screen and (max-width: 750px) {
    .footer-wrapper {
        flex-direction: column;
    }

    .footer-left {
        margin-right: 0px !important;
        order: 2;
        margin-top: 50px;
    }

    footer h3 {
        text-align: center;
    }

    footer .footer-right a {
        margin: 0px auto;
    }

    footer p {
        font-size: 14px !important;
    }
}