nav {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

nav .container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

nav .container .logo {
    display: block;
    width: 50px;
}

nav .container .logo img {
    width: 100%;
}

nav .container ul {
    margin: 0px 0px 0px 50px;
    padding-left: 0px;
    display: flex;
    align-items: center;
}

nav .container ul li {
    margin-right: 50px;
}

nav .container ul li:last-child {
    margin-right: 0px;
}

nav .container ul li a {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

nav .container ul li a:hover {
    color: var(--primary-color);
}

nav .container ul li.sign-in a {
    color: var(--primary-color);
}

nav .container ul li.cta a {
    display: block;
    padding: 5px 30px;
    background: var(--primary-color);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

nav .container ul li.cta a:hover {
    color: var(--text-color);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}

nav .container .nav-open-trigger {
    font-size: 25px;
    color: #fff;
    display: none;
}

nav .container .nav-close-trigger {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 10px;
    display: none;
}

/* Responsive */
@media only screen and (max-width: 850px) {
    nav .container {
        justify-content: space-between;
    }

    nav .container ul {
        margin: 0px;
        position: fixed;
        z-index: 1001;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: var(--secondary-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }

    nav .container ul.active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    nav .container ul li {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    nav .nav-container ul li:last-child {
        margin-bottom: 0px;
    }

    nav .container ul li a {
        font-size: 22px;
    }

    nav .container .nav-open-trigger {
        display: block;
    }

    nav .container .nav-close-trigger {
        display: block;
    }
}